alabaster>=0.7.12
astroid>=1.6.2
attrs>=19.3.0
autopep8>=1.5
Babel>=2.5.3
certifi>=2019.11.28
chardet>=3.0.4
docopt>=0.6.2
docutils>=0.16
idna>=2.6
imagesize>=1.0.0
incremental>=17.5.0
isort>=4.3.4
Jinja2>=2.10
lazy-object-proxy>=1.3.1
lice>=0.5
lxml>=4.5.0
MarkupSafe>=1.0
mccabe>=0.6.1
numpy>=1.14.1
packaging>=17.1
pipreqs>=0.4.9
pluggy>=0.6.0
py>=1.5.2
pycodestyle>=2.3.1
Pygments>=2.2.0
pylint>=1.8.3
pyparsing>=2.2.0
pytest>=3.4.2
pytz>=2018.3
requests>=2.20.0
six>=1.11.0
snowballstemmer>=1.2.1
urllib3>=1.23
wrapt>=1.10.11
yapf>=0.21.0
yarg>=0.1.9
